*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(230deg, #00C16C, #00755C, #004443 99%);
    background-attachment: fixed;
    /* caso queira usar imagem de fundo no site */
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}
nav{
    background-color: #002E34;
    box-shadow: 3px 3px 55px rgba(0,0,0,0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #90FF17;
}
nav a:hover{
    background-color: #004443;
}
nav li:first-child {
    margin-right: auto;
    display: flex;
    padding: 5px;
    height: 40px;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: #002e34e3;
    box-shadow: -10px 0 10px #004443;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.login{
    height: -900px;
}
.menu-button{
    display: none;
}
@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}
main{
    background-color: white;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #015a34b4;
    font-family: Arial, Helvetica, sans-serif
}
main h1{
    font-family: LUPINES demo, sans-serif;
}
@font-face {
    font-family: LUPINES demo;
    src: url('https://dl.dafont.com/dl/?f=lupines') format('woff2'),
        url('https://dl.dafont.com/dl/?f=lupines') format('woff');
        font-weight: normal;
        font-style: normal;
}
.sidebar.active {
    display: flex;
}